*{
    margin:0;
    padding:0;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

/*Stil za index, header, footer*/

#lotoslogo{
    margin-bottom: 15px;
}
#navbar{
    background-color: #8F208C;
}

#navigacija .navbar .nav-item .nav-link{
    color: white;
    font-size: 20px;
}

.nav-link:hover{
    color: black;
}
#nav1, #nav2, #nav3, #nav4, #nav5{
    color: white;
    font-size: 20px;
}

#nav1:hover, #nav2:hover, #nav3:hover, #nav4:hover, #nav5:hover{
    color: black;
    font-size: 20px;
}

#NaslovPocetna{
    margin: 30px;
}

#kolone .col-md-4{
    padding: 20px;
    font-size: 18px;
    margin-bottom: 20px;
}
#kolone .col-md-4 #slika1kolona1, #slika1kolona2, #slika1kolona3{
    padding: 20px
}

footer{
    background-color: #8F208C;
    color:black;
    
}

.site-footer .text-center img{
    
    margin-top:20px;
    margin-bottom:20px;
}

footer ul{
    list-style-type: none;
    
}

footer ul li a{
    color: black;
   
    font-size: 20px;
}

footer ul li a:hover{
    color: white;
}

.site-footer h3{
    padding: 10px;
}

.site-footer .text-center .col-md-4 img{
    padding: 7px;
}

.ikonice:hover{
    width: 100px;
    height: 100px;
    transition: 2s;
}
.lotoslogo:hover{
    width: 220px;
    height: 110px;
    transition: 1.5s;
}

/*Stil za O nama*/

.o-nama-content{

    margin:0;
    padding: 0;
    background-image: url(lisce.jpg);
    background-size: cover;
     
}

.o-nama-content #misija, #o-nama, #btngalerija{
    padding: 35px;
}

#demo2{
    height: 200px;
}

#zadovoljne-musterije{
    padding: 20px;
}

#musterije{
    background-color: rgba(240, 248, 255, 0.671);
}

#btngalerija .dugmici{
    padding: 15px;
}
/*Stil za Usluge*/

#UslugeNaslov{
    background-image: url(usluge.jpg);
    background-size: cover;
    height: 700px;
}

#UslugeNaslov h1{
    top: 500px;
    font-size: 69px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.212);
    border-radius: 20px;
    display: inline-block;
    position: relative;
}

.usluge-content h2{
    padding: 20px;
}

#Kolona1Usluge #ruza{
    position: relative;
    left: 30%;
    padding-bottom: 40px;
}

#saksija{
    position: relative;
    left: 100%;
}

#Kolona3Usluge #confetti{
    position: relative;
    left: 30%;
    padding-bottom: 20px;
    
}

.usluge-content .col-md-12, .col-md-10{

    margin-bottom: 30px;

}
/*Stil za kontakt*/

.pisite-nam h1{
    padding: 20px;
}

#forma{
    width:50%;
    left: 25%;
}
.kako-do-nas h1{
    padding: 20px;
}

.kontaktirajte-nas h1{
    padding: 20px;
}

/*Galerija*/

.slike{
    padding: 20px;
    border-radius: 20px;
    width: 400px;
    height: 400px;
}

.slike:hover{
    background-color: rgba(143, 32, 139, 0.089);
}

/*Responsive*/

@media(max-width:475px){
    *{
        font-size: 16px;
    }

   .carousel-item img{
       height: 400px;
   }
   
    #UslugeNaslov{
        background-image: url(usluge.jpg);
        background-size: cover;
        height: 500px;
    }

    #UslugeNaslov h1{
        top: 200px;
        font-size: 69px;
        color: white;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.377);
        border-radius: 20px;
        display: inline-block;
        position: relative;
    }

    .KontaktIkonice{
        height: 65px;
        width: 65px;
    }

    .kontaktirajte-nas .row .col-md-2{
        margin-top: 35px;
    }

    .slike{
        width: 160px;
        height: 160px;
    }
}